<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Thank You <%= @passenger.name %>!</h1>
    <p>Your flight has been successfully booked with Odin Flights.</p>
    <p>We hope you have an enjoyable flight and safe travels.</p>
  </body>
</html>