* {
  margin: 0;
  text-align: center;
  font-family: Lucida Grande;
}

h1 {
  font-family: Verdana;
  text-transform: uppercase;
  background-color: aliceblue;
  padding: 20px 0;
}

h3 {
  margin: 20px;
}

.flight-selection {
  padding: 15px 0;
  background-color: whitesmoke;
  select {
    margin-right: 5px;
  }
}

table {
  margin: 0 auto;
  padding: 15px;
  border: 1px solid black;
}

td {
  width: 20%;
}

tr {
  margin: 0 10px;
}

.new_booking input[type="submit"] {
  margin-top: 15px;
  font-size: 30px;
}

.new_booking input[type="submit"]:hover {
  cursor: pointer;
}

.new_booking_flight_info {
  border: 1px solid black;
  width: 20%;
  margin: 30px auto;
  p {
    margin: 15px 0;
  }
}

.new_booking_label {
  font-weight: bold;
}

.new_booking input[type="text"] {
  margin: 10px 0;
}

.new_booking input[type="submit"] {
  margin-bottom: 30px;
}

.booking-information {
  h3 {
    margin: 5px 0 5px 0;
  }
  p {
    margin: 10px 0 15px 0;
  }
  .flight-info {
    border: 1px solid black;
    width: 20%;
    margin: 30px auto;
    padding-top: 10px;
    margin-bottom: 20px;
  }
}